# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# Cache
.turbo
.eslintcache
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo
.DS_Store

# Testing
coverage

# Playwright E2E
**/playwright-report/
**/e2e/test-results/
**/playwright/.cache/
**/blob-report/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.local
.vercel
